# config/.env.example

# MinIO Configuration
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_RAW_DATA_BUCKET=raw-logs

# Data Generation Configuration
NUM_DAYS_TO_GENERATE=10
LOGS_PER_DAY=100000