# Airflow Core & Providers
# apache-airflow 패키지는 extras와 함께 설치하는 것이 표준입니다.
apache-airflow-providers-apache-spark
apache-airflow-providers-fab
apache-airflow-providers-amazon
apache-airflow-providers-openlineage

# Spark
pyspark

# Data Handling & AWS/S3
pandas
boto3
minio

# Database Connector
psycopg2-binary

# Utilities
Faker
python-dotenv
pendulum

# Visualization (선택 사항)
matplotlib
seaborn